In [ ]:
# import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [22]:
# Example with a full file path
credit_card_data = pd.read_csv('creditcard.csv')

In [23]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.000000,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,-0.551600,-0.617801,-0.991390,-0.311169,1.468177,-0.470401,0.207971,0.025791,0.403993,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.620000,0
1,0.000000,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,1.612727,1.065235,0.489095,-0.143772,0.635558,0.463917,-0.114805,-0.183361,-0.145783,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000,0
2,1.000000,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,0.624501,0.066084,0.717293,-0.165946,2.345865,-2.890083,1.109969,-0.121359,-2.261857,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660000,0
3,1.000000,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,-0.226487,0.178228,0.507757,-0.287924,-0.631418,-1.059647,-0.684093,1.965775,-1.232622,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000,0
4,2.000000,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,-0.822843,0.538196,1.345852,-1.119670,0.175121,-0.451449,-0.237033,-0.038195,0.803487,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000,0

In [24]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.000000,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,4.356170,-1.593105,2.711941,-0.689256,4.626942,-0.924459,1.107641,1.991691,0.510632,-0.682920,1.475829,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.770000,0
284803,172787.000000,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,-0.975926,-0.150189,0.915802,1.214756,-0.675143,1.164931,-0.711757,-0.025693,-1.221179,-1.545556,0.059616,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.790000,0
284804,172788.000000,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,-0.484782,0.411614,0.063119,-0.183699,-0.510602,1.329284,0.140716,0.313502,0.395652,-0.577252,0.001396,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.880000,0
284805,172788.000000,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,-0.399126,-1.933849,-0.962886,-1.042082,0.449624,1.962563,-0.608577,0.509928,1.113981,2.897849,0.127434,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.000000,0
284806,172792.000000,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,-0.915427,-1.040458,-0.031513,-0.188093,-0.084316,0.041333,-0.302620,-0.660377,0.167430,-0.256117,0.382948,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.000000,0

In [25]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [26]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [27]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [28]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [29]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [30]:
# statistical measures of the data
legit.Amount.describe()

count   284315.000000
mean        88.291022
std        250.105092
min          0.000000
25%          5.650000
50%         22.000000
75%         77.050000
max      25691.160000
Name: Amount, dtype: float64

In [31]:
fraud.Amount.describe()

count    492.000000
mean     122.211321
std      256.683288
min        0.000000
25%        1.000000
50%        9.250000
75%      105.890000
max     2125.870000
Name: Amount, dtype: float64

In [32]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,0.009824,-0.006576,0.010832,0.000189,0.012064,0.000161,0.007164,0.011535,0.003887,-0.001178,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,-5.676883,3.800173,-6.259393,-0.109334,-6.971723,-0.092929,-4.139946,-6.665836,-2.246308,0.680659,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [33]:
legit_sample = legit.sample(n=492)

In [34]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [35]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
40061,40078.000000,1.086772,-0.638129,0.647023,0.080817,-0.721131,0.452124,-0.714714,0.227622,1.046969,-0.323152,-1.206359,-0.208508,-0.342656,-0.230115,1.086651,0.356764,-0.243187,-0.198762,-0.120856,0.056134,0.084474,0.230768,-0.164027,-0.675204,0.202341,1.183676,-0.039176,0.015826,86.400000,0
223671,143476.000000,1.788521,-0.340416,-1.977266,0.104802,0.866972,0.825093,-0.176570,0.324066,0.848974,-0.814242,1.220092,0.851306,-0.512896,-1.121673,0.023251,-0.490652,1.449020,-0.577260,-0.431168,-0.160306,-0.126179,-0.164547,0.135826,-1.753602,-0.256585,0.018737,0.025823,-0.039707,64.760000,0
279089,168639.000000,-0.995159,1.156680,-1.051023,-1.113942,0.919805,-1.521056,1.336106,-0.238222,-0.243487,0.162860,0.731457,0.161571,-1.314693,1.076571,-0.688630,-0.501023,-0.479986,0.094058,0.096482,-0.351328,0.315317,1.036333,-0.011038,0.041115,-0.393640,0.004581,-0.422692,0.000546,0.770000,0
202090,134170.000000,1.641087,-1.685564,-0.165811,-0.560154,-0.687655,2.302070,-1.687974,0.735200,0.359460,0.560356,0.922147,1.252411,1.103644,-0.407246,1.035501,-1.544351,-0.060871,1.084288,-1.978762,-0.334809,0.079664,0.675466,0.214353,-0.739319,-0.689304,-0.214518,0.121040,-0.010673,148.950000,0
69414,53411.000000,1.356225,-0.322399,0.450949,-0.345147,-0.784041,-0.434317,-0.485366,-0.038548,-1.212064,0.890284,0.969419,0.628068,0.492701,0.270830,0.218966,-0.871837,-0.520122,1.304478,-0.383455,-0.479988,-0.686747,-1.565689,0.235117,-0.050934,0.007340,0.107132,-0.014382,0.010508,0.690000,0

In [36]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.000000,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,-5.587794,2.115795,-5.417424,-1.235123,-6.665177,0.401701,-2.897825,-4.570529,-1.315147,0.391167,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.000000,1
280143,169347.000000,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,-3.232153,2.858466,-3.096915,-0.792532,-5.210141,-0.613803,-2.155297,-3.267116,-0.688505,0.737657,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.760000,1
280149,169351.000000,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,-3.463891,1.794969,-2.775022,-0.418950,-4.057162,-0.712616,-1.603015,-5.035326,-0.507000,0.266272,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.890000,1
281144,169966.000000,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,-5.245984,1.933520,-5.030465,-1.127455,-6.416628,0.141237,-2.549498,-4.614717,-1.478138,-0.035480,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.000000,1
281674,170348.000000,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,-0.888722,0.491140,0.728903,0.380428,-1.948883,-0.832498,0.519436,0.903562,1.197315,0.593509,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.530000,1

In [37]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [38]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,93203.308943,-0.046740,-0.125658,0.034691,0.074203,0.069722,0.067024,-0.007418,-0.009511,-0.013702,-0.010055,0.093588,0.041724,-0.034816,0.017932,-0.008679,-0.002389,-0.008187,-0.050656,-0.049608,-0.074978,-0.034098,-0.021384,0.064577,-0.022802,0.033793,-0.006630,0.002039,0.010844,86.740203
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,-5.676883,3.800173,-6.259393,-0.109334,-6.971723,-0.092929,-4.139946,-6.665836,-2.246308,0.680659,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [39]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [40]:
print(X)

                Time        V1        V2        V3        V4        V5  \
40061   40078.000000  1.086772 -0.638129  0.647023  0.080817 -0.721131
223671 143476.000000  1.788521 -0.340416 -1.977266  0.104802  0.866972
279089 168639.000000 -0.995159  1.156680 -1.051023 -1.113942  0.919805
202090 134170.000000  1.641087 -1.685564 -0.165811 -0.560154 -0.687655
69414   53411.000000  1.356225 -0.322399  0.450949 -0.345147 -0.784041
...              ...       ...       ...       ...       ...       ...
279863 169142.000000 -1.927883  1.125653 -4.518331  1.749293 -1.566487
280143 169347.000000  1.378559  1.289381 -5.004247  1.411850  0.442581
280149 169351.000000 -0.676143  1.126366 -2.213700  0.468308 -1.120541
281144 169966.000000 -3.113832  0.585864 -5.399730  1.817092 -0.840618
281674 170348.000000  1.991976  0.158476 -2.583441  0.408670  1.151147

              V6        V7        V8        V9       V10       V11       V12  \
40061   0.452124 -0.714714  0.227622  1.046969 -0.323152 -1.206359 -0.208508
223671  0.825093 -0.176570  0.324066  0.848974 -0.814242  1.220092  0.851306
279089 -1.521056  1.336106 -0.238222 -0.243487  0.162860  0.731457  0.161571
202090  2.302070 -1.687974  0.735200  0.359460  0.560356  0.922147  1.252411
69414  -0.434317 -0.485366 -0.038548 -1.212064  0.890284  0.969419  0.628068
...          ...       ...       ...       ...       ...       ...       ...
279863 -2.010494 -0.882850  0.697211 -2.064945 -5.587794  2.115795 -5.417424
280143 -1.326536 -1.413170  0.248525 -1.127396 -3.232153  2.858466 -3.096915
280149 -0.003346 -2.234739  1.210158 -0.652250 -3.463891  1.794969 -2.775022
281144 -2.943548 -2.208002  1.058733 -1.632333 -5.245984  1.933520 -5.030465
281674 -0.096695  0.223050 -0.068384  0.577829 -0.888722  0.491140  0.728903

             V13       V14       V15       V16       V17       V18       V19  \
40061  -0.342656 -0.230115  1.086651  0.356764 -0.243187 -0.198762 -0.120856
223671 -0.512896 -1.121673  0.023251 -0.490652  1.449020 -0.577260 -0.431168
279089 -1.314693  1.076571 -0.688630 -0.501023 -0.479986  0.094058  0.096482
202090  1.103644 -0.407246  1.035501 -1.544351 -0.060871  1.084288 -1.978762
69414   0.492701  0.270830  0.218966 -0.871837 -0.520122  1.304478 -0.383455
...          ...       ...       ...       ...       ...       ...       ...
279863 -1.235123 -6.665177  0.401701 -2.897825 -4.570529 -1.315147  0.391167
280143 -0.792532 -5.210141 -0.613803 -2.155297 -3.267116 -0.688505  0.737657
280149 -0.418950 -4.057162 -0.712616 -1.603015 -5.035326 -0.507000  0.266272
281144 -1.127455 -6.416628  0.141237 -2.549498 -4.614717 -1.478138 -0.035480
281674  0.380428 -1.948883 -0.832498  0.519436  0.903562  1.197315  0.593509

             V20       V21       V22       V23       V24       V25       V26  \
40061   0.056134  0.084474  0.230768 -0.164027 -0.675204  0.202341  1.183676
223671 -0.160306 -0.126179 -0.164547  0.135826 -1.753602 -0.256585  0.018737
279089 -0.351328  0.315317  1.036333 -0.011038  0.041115 -0.393640  0.004581
202090 -0.334809  0.079664  0.675466  0.214353 -0.739319 -0.689304 -0.214518
69414  -0.479988 -0.686747 -1.565689  0.235117 -0.050934  0.007340  0.107132
...          ...       ...       ...       ...       ...       ...       ...
279863  1.252967  0.778584 -0.319189  0.639419 -0.294885  0.537503  0.788395
280143  0.226138  0.370612  0.028234 -0.145640 -0.081049  0.521875  0.739467
280149  0.247968  0.751826  0.834108  0.190944  0.032070 -0.739695  0.471111
281144  0.306271  0.583276 -0.269209 -0.456108 -0.183659 -0.328168  0.606116
281674 -0.017652 -0.164350 -0.295135 -0.072173 -0.450261  0.313267 -0.289617

             V27       V28     Amount
40061  -0.039176  0.015826  86.400000
223671  0.025823 -0.039707  64.760000
279089 -0.422692  0.000546   0.770000
202090  0.121040 -0.010673 148.950000
69414  -0.014382  0.010508   0.690000
...          ...       ...        ...
279863  0.292680  0.147968 390.000000
280143  0.389152  0.186637   0.760000
280149  0.385107  0.194361  77.890000
281144  0.884876 -0.253700 245.000000
281674  0.002988 -0.015309  42.530000

[984 rows x 30 columns]

In [41]:
print(Y)

40061     0
223671    0
279089    0
202090    0
69414     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [43]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [44]:
model = LogisticRegression()

In [45]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

In [46]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [47]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.940279542566709